{% extends "layout.html" %}

{% block title %}Añadir Libro - LibroTeca{% endblock %}

{% block content %}
<h2>Añadir Libro</h2>
<form method="POST" action="/addbook" enctype="multipart/form-data">
    <div class = "form-container">
    <div class="mb-3">
        <label for="title" class="form-label">Título</label>
        <input type="text" class="form-control" id="title" name="title" required>
    </div>
    <div class="mb-3">
        <label for="author" class="form-label">Autor</label>
        <input type="text" class="form-control" id="author" name="author" required>
    </div>
    <div class="mb-3">
        <label for="descr" class="form-label">Descripción</label>
        <textarea class="form-control" id="descr" name="descr" rows="3" required></textarea>
    </div>
    <div class="mb-3">
        <label for="cover" class="form-label">Portada</label>
        <input type="file" class="form-control" id="cover" name="cover" accept="image/*">
    </div>
    <div class="mb-3">
        <label for="genre" class="form-label">Género</label>
        <input type="text" class="form-control" id="genre" name="genre" required>
    </div>
    <div class="mb-3">
        <label for="addedby" class="form-label">Añadido por</label>
        <input type="text" class="form-control" id="addedby" name="addedby" value="{{ current_user.username }}" readonly>
    </div>
    <button type="submit" class="btn btn-primary">Añadir Libro</button>
    </div>
</form>
{% endblock %}