{% extends "layout.html" %}

{% block title %}Reseñas{% endblock %}

{% block content %}
<h2>Reseñas</h2>

<div class="review-cards">
     {% if reviews|length == 0 %}
        <div class="no-reviews-msg">
            Todavía no existen reseñas.
        </div>
    {% else %}
    {% for review in reviews %}
    <div class="review-card">
        <div class="review-header">
            <span class="review-user">{{ users[review.user_id] }}</span>
            <span class="review-book">{{ books[review.book_id] }}</span>
            <span class="review-score">
                {% for i in range(1, 6) %}
                    {% if i <= review.score|int %}
                        <span class="star">&#9733;</span>
                    {% else %}
                        <span class="star star-empty">&#9733;</span>
                    {% endif %}
                {% endfor %}
            </span>
        </div>
        <hr class="review-divider">
        <div class="review-body">
            <p>{{ review.coment }}</p>
        </div>
        <div class="review-footer">
        <span class="like-heart" onclick="toggleLike('{{ review.id }}', this)">
            <span class="heart {% if review.id in user_likes %}liked{% endif %}">&#10084;</span>
        </span>
        <span id="like-count-{{ review.id }}">{{ likes[review.id] if review.id in likes else 0 }}</span>
        <span class="review-date" style="margin-left:auto;">{{ review.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</span>
        <a href="{{ url_for('auth.review_detail', review_id=review.id) }}" class="btn btn-secondary btn-sm ms-2">
            Ver reseña
        </a>
    </div>
        
    </div>
    {% endfor %}
    {% endif %}
</div>
<div class="pagination">
    {% if page > 1 %}
        <a href="{{ url_for('auth.reviews', page=page-1) }}" class="btn btn-secondary btn-sm">Anterior</a>
    {% endif %}
    <span>Página {{ page }} de {{ total_pages }}</span>
    {% if page < total_pages %}
        <a href="{{ url_for('auth.reviews', page=page+1) }}" class="btn btn-secondary btn-sm">Siguiente</a>
    {% endif %}
</div>
{% endblock %}

