{% extends "layout.html" %}

{% block title %}Libros - LibroTeca{% endblock %}

{% block content %}
<h2>Libros Disponibles</h2>
<div class="book-grid">
    {% for book in books %}
    <div class="book-card">
        {% if book.cover %}
    <div class="cover-hover">
    <img src="{{ url_for('static', filename='uploads/' ~ book.cover) }}" alt="Portada" class="book-cover">
    <div class="cover-sinopsis">
        {{ book.descr }}
    </div>
</div>
{% else %}
    <div class="cover-hover">
    <img src="{{ url_for('static', filename='uploads/Nodisponible.jpg') }}" alt="Sin portada disponible" class="book-cover">
    <div class="cover-sinopsis">
        {{ book.descr }}
    </div>
</div>
{% endif %}
        <h3 class="book-title">{{ book.title }}</h3>
        <p class="book-author">Por {{ book.author }}</p>
        <div class="book-actions">
            <button onclick="location.href='/addreview?book_id={{ book.id }}'" class="btn btn-primary btn-sm">Añadir Reseña</button>
            <select name="state" class="form-select form-select-sm" onchange="updateBookState('{{ book.id }}', this.value)">
    {% if book.id not in user_books %}
        <option value="" disabled selected>Añadir a una lista</option>
    {% endif %}
    <option value="Pendiente" {% if user_books[book.id] == 'Pendiente' %}selected{% endif %}>Pendiente</option>
    <option value="Leyendo" {% if user_books[book.id] == 'Leyendo' %}selected{% endif %}>Leyendo</option>
    <option value="Leído" {% if user_books[book.id] == 'Leído' %}selected{% endif %}>Leído</option>
</select>

        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}