{% extends "layout.html" %}

{% block title %}Libros - LibroTeca{% endblock %}

{% block content %}
<h2>Libros Disponibles</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>ISBN</th>
            <th>Título</th>
            <th>Autor</th>
            <th>Descripción</th>
            <th>Género</th>
            <th>Añadido por</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.isbn }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.descr }}</td>
            <td>{{ book.genre }}</td>
            <td>{{ book.addedby }}</td>
            <td>
                <button onclick="location.href='/addreview?book_id={{ book.id }}'" class="btn btn-primary">Añadir Reseña</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}