{% extends "layout.html" %}

{% block title %}Usuarios y Libros Registrados{% endblock %}

{% block content %}
<h2>Usuarios Registrados</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Usuario</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Libros Registrados</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Autor</th>
            <th>Descripción</th>
            <th>Género</th>
            <th>Añadido por</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.descr }}</td>
            <td>{{ book.genre }}</td>
            <td>{{ book.addedby }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}