{% extends "layout.html" %}

{% block title %}Mis Libros - LibroTeca{% endblock %}

{% block content %}
<h2>Mis Libros</h2>
<div class="book-grid">
    {% for book in books %}
    <div class="book-card">
        {% if book.cover %}
        <div class="cover-hover">
            <a href="{{ url_for('auth.book', book_id=book.id) }}">
            <img src="{{ url_for('static', filename='uploads/' ~ book.cover) }}" alt="Portada" class="book-cover">
            </a>
            <div class="cover-sinopsis">
                {{ book.descr }}
            </div>
        </div>
        {% else %}
        <div class="cover-hover">
            <a href="{{ url_for('auth.book', book_id=book.id) }}">
            <img src="{{ url_for('static', filename='uploads/Nodisponible.jpg') }}" alt="Sin portada disponible" class="book-cover">
            </a>
            <div class="cover-sinopsis">
                {{ book.descr }}
            </div>
        </div>
        {% endif %}
        <h3 class="book-title">{{ book.title }}</h3>
        <p class="book-author">Por {{ book.author }}</p>
        <p class="book-genre">{{ book.genre }}</p>
        <form method="POST" action="{{ url_for('auth.delete_book', book_id=book.id) }}" style="margin-top:10px;">
            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('¿Seguro que quieres eliminar este libro?');">Eliminar</button>
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}